body {
  margin: 0 50px;
  /* padding: 50px; */
  color: white;
  font-family: "Orbitron", sans-serif;
  background-color: black;
}

a {
  color: #00c0fa;
}

/* a:visited {
  color: rgb(0, 51, 128);
} */

a:hover {
  color: rgb(255, 60, 0);
}

header {
  margin: 50px 0;
}

header nav {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login {
  list-style: none;
  text-align: right;
}

#dumbbell {
  width: 150px;
  z-index: -1;
}

#nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-logo h1 {
  font-size: 1.3rem;
  margin: 0 0 -32px;
  color: rgb(189, 0, 0);
}

.box {
  margin: 15px 0;
}

.profile-pic {
  width: 15%;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 1%;
  height: 100px;
  margin-top: 10%;
}
