body {
  margin: 0 50px;
  /* padding: 50px; */
  color: rgb(245, 245, 245);
  font-family: "Orbitron", sans-serif;
  background-color: black;
}

a {
  color: #00c0fa;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 60, 0);
}

header {
  margin: 50px 0;
}

header nav {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li span {
  font-size: 1.5rem;
  text-decoration: underline;
}

#dumbbell {
  width: 150px;
  z-index: -1;
}

#nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-logo h1 {
  font-size: 1.3rem;
  margin: 0 0 -32px;
  color: rgb(189, 0, 0);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}
.align {
  align-items: center;
}

.center-text {
  text-align: center;
}

.box {
  height: 150px;
  margin: 15px 0;
  padding: 15px;
  background: linear-gradient(to left, rgba(177, 60, 60, 0.5) 10%, rgba(143, 0, 0, 0.658));
  border: 2px solid white;
  border-radius: 150px;
}

.inner-space {
  margin-left: 25px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.routine {
  padding: 15px;
  margin: 10px 15px;
  border: 4px dashed rgb(143, 0, 0);
  border-radius: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 1%;
  height: 100px;
  margin-top: 10%;
}

@media only screen and (max-width: 700px) {
  #user h1,
  #user h2 {
    font-size: 100%;
  }
  body{
    margin: 0;
  }
}